@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html, body {
  margin: 0;
  padding: 0;
  margin-inline: 25px;
}

body {
  height: 100vh;
}

#root {
  height: 100%
}

a {
  color: #000;
  text-decoration: none;
}

input {
  background-color: #F5F8FB;
  border: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding: 15px 25px;
  border-radius: 15px;
}

input:focus {
  outline: none;
}