@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html, body {
  margin: 0;
  padding: 0;
  margin-inline: 25px;
}

body {
  height: 100vh;
}

#root {
  height: 100%
}

a {
  color: #000;
  text-decoration: none;
}
