.grid {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.form {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 999px;
  align-items: center;
  margin-right: 15%;
}


.button {
  background-color: #F5F8FB;
  border: none;
  padding: 14px 25px;


}


input[type="search"] {
  font-size: 18px;
  flex: 1;
  background-color: #F5F8FB;
  color: #000;
  border: none;
  padding: 14px 25px 14px 0px;
}

input[type="search"]:focus {
  outline: none;
}

input[type="search"]::placeholder {
  color: #666;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

