.select {
    font-size: 14px;
    border: none;
    width: 100px;
    outline: 1px solid #0066F1;
    border-radius: 5px;
}


.label {
    margin-right: 10px;
    font-size: 14px;
    color: #666666;
}
.option {
    padding: 10px;
    margin: 10px;
}